<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479606769663-si5dce57uvotljc7mp8piilo12ibhpfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479606769663-si5dce57uvotljc7mp8piilo12ibhpfc</string>
	<key>API_KEY</key>
	<string>AIzaSyCP_Nr1Qdr89wyEQPIm3vVOqSkrJ7vnX58</string>
	<key>GCM_SENDER_ID</key>
	<string>479606769663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.werewolfApp</string>
	<key>PROJECT_ID</key>
	<string>werewolf-app-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>werewolf-app-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:479606769663:ios:c7bd96089da8eca8db09ca</string>
	<key>DATABASE_URL</key>
	<string>https://werewolf-app-backend.firebaseio.com</string>
</dict>
</plist>
